streamlit
    pandas
    plotly
    numpy
    SQLAlchemy
    psycopg2-binary # Or psycopg2 if not on Windows
    mysqlclient
    pyodbc
    snowflake-sqlalchemy
    pymongo
    cx_Oracle # If needed
    google-cloud-bigquery # If needed
    python-dotenv # Optional, for environment variables
